@(title: String, cssList: Seq[String])(content: Html)(implicit req: play.api.mvc.Request[_])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        @cssList.map( cssFile =>  <link rel="stylesheet" media="screen" href={ routes.Assets.at("stylesheets/" + cssFile).toString } />)
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    </head>
    <body>
        @content
    </body>
</html>
